[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scrapy = "*"
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
wordcloud = "*"
matplotlib = "*"
ipykernel = "*"
xlrd = "*"
openpyxl = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
